*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}
.calculator{
    height: 600px;
    width: 400px;
    background-color: lightyellow;
    box-shadow:0px 0px 8px mediumaquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(2, 1, 1);
}
.result-bar{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}
.result-bar span{
    font-size: 70px;
    
}
.controlls{
    height: 390px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,97.7px);
    grid-gap:3px;
}
input{
    font-size: 30px;
    color: white;
    border: none;
}
input:focus{
    outline: none;
    border-color: black;
}

input:hover{
    filter: brightness(110%);
}
.operador{
    background-color: rosybrown;
}

.operator-out{
    width: 100%;
    height: 60px;
    background-color: turquoise;
    margin-bottom: 3px;
}
.numero{
    background-color: teal;
}
.result{    
  background-color: slategray;
}